<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Torchiver.Archiver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="torchiverEntities" connectionString="metadata=res://*/DBModel.Model1.csdl|res://*/DBModel.Model1.ssdl|res://*/DBModel.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.0.8;user id=torchiver;database=torchiver&quot;" providerName="System.Data.EntityClient" />
    <add name="Model1Container" connectionString="metadata=res://*/DBModel.Model1.csdl|res://*/DBModel.Model1.ssdl|res://*/DBModel.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.0.8;user id=torchiver;database=torchiver&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <Torchiver.Archiver.Properties.Settings>
      <setting name="torchiverConnectionString" serializeAs="String">
        <value>server=192.168.0.8;User Id=torchiver;password=le password;Persist Security Info=True;database=torchiver;Allow User Variables=True;</value>
      </setting>
      <setting name="ImportPath" serializeAs="String">
        <value />
      </setting>
    </Torchiver.Archiver.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>