<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Torchiver.Archiver.Properties.Settings.torchiverConnectionString"
            connectionString="server=192.168.0.8;User Id=torchiver;password=le passwored;Persist Security Info=True;database=torchiver;Allow User Variables=True;"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
