<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Torchiver.Archiver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <Torchiver.Archiver.Properties.Settings>
            <setting name="torchiverConnectionString" serializeAs="String">
                <value>server=192.168.0.8;User Id=torchiver;password=le passwored;Persist Security Info=True;database=torchiver;Allow User Variables=True;</value>
            </setting>
            <setting name="ImportPath" serializeAs="String">
                <value />
            </setting>
        </Torchiver.Archiver.Properties.Settings>
    </userSettings>
</configuration>
