<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PakCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PakCreator.Properties.Settings>
            <setting name="mruDirLast" serializeAs="String">
                <value />
            </setting>
            <setting name="mruPakLast" serializeAs="String">
                <value />
            </setting>
        </PakCreator.Properties.Settings>
    </userSettings>
</configuration>